In [37]:
import pandas as pd
import missingno
import matplotlib.pyplot as plt
import warnings
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [38]:
df = pd.read_csv(r"C:\Users\noahw\OneDrive\Desktop\machinelearning\insurance.csv")

In [39]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [40]:
df.sex = df.sex.replace(['male','female'],[1,0])
df.smoker = df.smoker.replace(['yes','no'],[1,0])

In [41]:
df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   int64
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int64
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(4), object(1)
memory usage: 73.3+ KB

In [43]:
pd.DataFrame(df.groupby("region")["age","charges","bmi","children"].mean().sort_values("age",ascending=False)[:10])

<ipython-input-43-4d1be8c8c7f1>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  pd.DataFrame(df.groupby("region")["age","charges","bmi","children"].mean().sort_values("age",ascending=False)[:10])

                 age       charges        bmi  children
region
southwest  39.455385  12346.937377  30.596615  1.141538
northeast  39.268519  13406.384516  29.173503  1.046296
northwest  39.196923  12417.575374  29.199785  1.147692
southeast  38.939560  14735.411438  33.355989  1.049451

In [44]:
pd.DataFrame(df.groupby("sex")["age","charges","bmi","children"].mean().sort_values("age",ascending=False)[:10])

<ipython-input-44-5e99417f895b>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  pd.DataFrame(df.groupby("sex")["age","charges","bmi","children"].mean().sort_values("age",ascending=False)[:10])

           age       charges        bmi  children
sex
0    39.503021  12569.578844  30.377749  1.074018
1    38.917160  13956.751178  30.943129  1.115385

In [45]:
pd.DataFrame(df.groupby("smoker")["age","charges","bmi","children"].mean().sort_values("age",ascending=False)[:10])

<ipython-input-45-9e458c615e5c>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  pd.DataFrame(df.groupby("smoker")["age","charges","bmi","children"].mean().sort_values("age",ascending=False)[:10])

              age       charges        bmi  children
smoker
0       39.385338   8434.268298  30.651795  1.090226
1       38.514599  32050.231832  30.708449  1.113139

In [46]:
pd.DataFrame(df.groupby("children")["age","charges","bmi"].mean().sort_values("age",ascending=False)[:10])

<ipython-input-46-4934d6b0a6ed>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  pd.DataFrame(df.groupby("children")["age","charges","bmi"].mean().sort_values("age",ascending=False)[:10])

                age       charges        bmi
children
3         41.566879  15355.318367  30.684331
1         39.453704  12731.171832  30.623148
2         39.445833  15073.563734  30.978104
4         39.000000  13850.656311  31.391200
0         38.444251  12365.975602  30.550296
5         35.611111   8786.035247  29.605000

In [47]:
X = df.drop(['charges','region'],axis=1)
region = pd.get_dummies(df.region)
X  = pd.concat([X,region], axis=1)
y = df.charges
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=123)

In [48]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train,y_train)
print("Score Test:",model.score(X_test,y_test))
pred_br = model.predict(X_test)
print("MAE:",mean_absolute_error(y_test,pred_br))
print("MSE:",mean_squared_error(y_test,pred_br))

Score Test: 0.8001744488359046
MAE: 4013.100618113484
MSE: 30552437.41652549

In [49]:
from sklearn.ensemble import RandomForestRegressor


model = RandomForestRegressor()
model.fit(X_train,y_train)
print("Score Test:",model.score(X_test,y_test))
pred_br = model.predict(X_test)
print("MAE:",mean_absolute_error(y_test,pred_br))
print("MSE:",mean_squared_error(y_test,pred_br))

Score Test: 0.8877302941456725
MAE: 2385.7981142390536
MSE: 17165538.350344796